@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');


body {
    font-family: "Spoqa Han Sans", 'Nanum Gothic', 'Sans-serif' !important;
    font-weight: 300;
    overflow-x:hidden;
}

#mainTable,#writeButtonWrap,#viewTable{
  margin-left:15%;
  margin-right:15%;
}

#writeButtonWrap>div{
  padding:0px;
}

#writeButton{
    height: 100%;
    background-color:rgb(48,56,66);
    color:white;
    margin-top:8%;
    margin-bottom:1.5%;
}

.marginTop{
  margin-top:3%;
}

a,a:visited,a:hover,a:focus{
    text-decoration: none;
    color:black;
}
a:hover{
  color:black;
  text-decoration: none;
}

td{
  text-align:right;
}

td:first-child{
  text-align:justify;
}

th{
  text-align:right;
}

th:first-child{
  text-align: justify;
}

#viewTable>table>thead>tr>th:nth-child(2n+1){
  text-align:justify;
}

.table{
  margin-top:1%;
}

#languageButton{
  margin-right:1%;
}

@media screen and (max-width: 767px) {
  .h3{
    font-size:11px;
  }
  .h4{
    font-size:11px;
  }
  th{
    width:20%;
  }
  th:first-child{
    width:40%;
  }
  #footerBox{
    display:none;
  }
  #headerbar{
    margin-top:10px;
    margin-bottom:10px;
  }
  .pagination{
    display:inline-block;
    margin:10px 0px;
  }
  ul>li{
    font-size:10px;
  }
  #writeButton{
    padding:10px 0px;
    margin-top:20px;
    margin-bottom:5px;
  }
  .tableNotice{
    margin-top:10%;
  }
}
