#mainTable,#writeButtonWrap{
  margin-left:15%;
  margin-right:15%;
}

#writeButtonWrap>div{
  padding:0px;
}

#writeButton{
    height: 100%;
    background-color:rgb(48,56,66);
    color:white;
    margin-top:5%;
    margin-bottom:1.5%;
}

a,a:visited,a:hover,a:focus{
    text-decoration: none;
    color:black;
}
a:hover{
  color:black;
  text-decoration: none;
}

td{
  text-align:right;
}

td:first-child{
  text-align:justify;
}

th{
  text-align:right;
}

th:first-child{
  text-align: justify;
}

.table{
  margin-top:1%;
}

#languageButton{
  margin-right:1%;
}

@media screen and (max-width: 767px) {
  .h3{
    font-size:8px;
  }
  th{
    width:20%;
  }
  th:first-child{
    width:40%;
  }
  #footerBox{
    display:flex;
  }
  #headerbar{
    margin-top:10px;
    margin-bottom:10px;
  }
  .pagination{
    display:inline-block;
    margin:10px 0px;
  }
  ul>li{
    font-size:10px;
  }
  #writeButton{
    padding:10px 0px;
    margin-top:20px;
    margin-bottom:5px;
  }
}
