@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');


body {
    font-family: "Spoqa Han Sans", 'Nanum Gothic', 'Sans-serif' !important;
    font-weight: 300;
    overflow-x:hidden;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.bold{
  font-weight: 500;
}

.badge{
  font-weight: 300;
}

.btn-primary .badge{
  color:black;
}

label{
  margin-bottom: 0px;
  font-weight: normal;
}

.col-xs-1-5 {
  width: 12.49995%;
}

.col-md-1-5 {
  width: 12.49995%;
}

.colorMint{
  color:rgb(133,212,217);
}

.glyphicon {
    font-size: 30px;
}

.btn-info{
  background-color:#0099cc;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
}

.btnWeight{
  font-weight: 500;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: rgb(48,56,66);
    color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: white;
  color: black;
}

.btn-primary:active, .btn-primary.active {
    background: rgb(48,56,66);
    box-shadow: none;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid rgb(114,203,177);
	color: black;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: black;
	border-color: rgb(114,203,177);
}

.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: rgb(114,203,177);
	color: black;
	box-shadow: none;
}

/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */

    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}


.vertical-align{
  display:flex;
  align-items: center;
}

.pagination .active a {
  color: #143361;
  background-color: transparent;
  font-weight: 600;
}
.pagination .active a:hover {
  background-color: transparent;
  color: #143361;
  border: 0px;
}
.pagination .active a:focus {
  background-color: transparent;
  color: #143361;
  outline: none;
}
.pagination li a {
  border: 1px;
  margin-left: 0px;
  color: #707070;
  padding: 7px 2px;
  margin: 0px 20px;
}
.pagination li a:hover {
  background-color: transparent;
  color: #4a90e2;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}
.pagination li a:focus {
  outline: none;
  background-color: transparent;
  /*color:#707070;*/
}
.pagination li:first-child a, .pagination li:last-child a {
  border: 2px solid rgb(48,56,66) !important;
  border-radius: 6px;
  margin: 0px;
  padding: 6px 12px;
  border: 2px solid;
  font-size: 14px;
  color: #143361;
}
.pagination li:first-child a:hover, .pagination li:last-child a:hover {
  text-decoration: none !important;
  color: #fff;
  background-color: rgb(48,56,66);
}
.pagination li:first-child a:focus, .pagination li:last-child a:focus {
  outline: none;
}


.audioContainer { position:relative; margin:0; width:100%;}
.column { width:inherit; }


/* Typography / Links
================================================== */

p { color:#fff; display:block; font-size:.9rem; font-weight:400; margin:0 0 2px;}

a,a:visited { color:#8cc3e6; outline:0; }
a:hover,a:focus { color:#bbdef5; }
p a,p a:visited { line-height:inherit; }


/* Misc.
================================================== */

.add-bottom { margin-bottom:2rem !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }


/* Audio Player Styles
================================================== */

audio {
margin:0 15px 0 14px;
width:670px;
}

.column.add-bottom{
  width:100%;
}
#mainwrap {}

#audiowrap,
#plwrap {
margin:0 auto;
}

#tracks {
position:relative;
text-align:center;
}

#nowPlay {
display:inline;
}

#npAction {
padding:21px;
position:absolute;
}

#npTitle {
padding:10px 0px 10px 10px;
}

#plList{
  padding-left:0px;
}

#plList li {
cursor:pointer;
display:block;
margin:0;
padding:21px 0;
}

#plList li:hover {
background-color:rgba(0,0,0,.1);
}

.plItem {
position:relative;
}

.plTitle {
left:50px;
overflow:hidden;
position:absolute;
right:65px;
text-overflow:ellipsis;
top:0;
white-space:nowrap;
}

.plNum {
padding-left:21px;
width:25px;
}

.plLength {
padding-left:21px;
position:absolute;
right:21px;
top:0;
}

.plSel,
.plSel:hover {
background-color:rgba(0,0,0,.1);
font-weight: bold;
cursor:default !important;
}

a[id^="btn"] {
border-radius:3px;
color:#fff;
cursor:pointer;
display:inline-block;
font-size:2rem;
height:35px;
line-height:.8;
margin:0 20px 20px;
padding:5px 10px;
text-decoration:none;
transition:background .3s ease;
width:35px;
}

a[id^="btn"]:last-child {
margin-left:-4px;
}

a[id^="btn"]:hover,
a[id^="btn"]:active {
background-color:rgba(0,0,0,.1);
color:#fff;
}

a[id^="btn"]::-moz-focus-inner {
border:0;
padding:0;
}


/* Plyr Overrides
================================================== */

.plyr--audio .plyr__controls {
background-color:transparent;
border:none;
color:#fff;
padding:20px 20px 20px 13px;
width:100%;
}

.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr--audio .plyr__controls button:hover,
.plyr__play-large {
background:rgba(0,0,0,.1);
}

.plyr__progress--played, .plyr__volume--display {
color:rgba(0,0,0,.1);
}

.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
background:rgba(0,0,0,.1);
}

.plyr--audio .plyr__progress--buffer {
color:rgba(0,0,0,.1);
}


/* Media Queries
================================================== */

@media only screen and (max-width:850px) {
    #nowPlay { display:none; }
}


#countering>div>div>.bold{
  color:white;
}

#userImage{
  align:center;
}
#headerbar{
  margin-top:1%;
}

body > .container-fluid{
  padding-left: 0%;
  padding-right:0%;
}

#mainImage{
  padding:0px;
  margin-top:1%;
}

#mainNav{
  padding:0%;
  margin:0px;
}

#mainNav>div{
  padding:0px;
}

#navBox{
  padding:3% 0% 3% 0%;
  border-bottom: 1px solid black;
  margin:0px;
}

#navBox>div:first-child{
  border-right:1px solid black;
}


#countering{
  padding:3% 0% 3% 0%;
  margin:0px;
  background-color: rgb(48,56,66);
}

#mainBox{
  padding:3% 0% 2% 0%;
  margin:0px;
}

#filterBox{
  margin:0px;
}

#filterBox>div:nth-child(3){
  margin-top:2%;
}

#filterBox>div:nth-child(5){
  margin-top:2%;
}

#searchButton{
  height: 100%;
  background-color:rgb(48,56,66);
  color:white;
}

#showListWrap{
  margin-top:0px; !important
  margin-bottom:0px;
}

#contentBox{
  padding:0%;
  margin:0px;
}

#contentBox>div:first-child{
  float:none;
}

#textWrap{
  padding:0px;
  width:63.34%
}

#cardTitle{
  padding:2%;
  margin:0px;
}

#dbText{
    padding-right:15px;
}

#userName{
  padding:0% 0% 2% 2%;
  margin-top:2%;
  margin-bottom: 0px;
}

#card{
  margin-left:0px;
  padding-right:1%;
  padding-left:1%;
}
#contentBox>div:first-child{
  padding:1%;
  margin-left:4.16666666%;
}

#cardAudio{
  padding:2%;
}

.text-right{
  padding-right:0px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#searchButtonWrap{
  padding-left:15px;
  padding-right:0px;
}

.margin4{
  margin-left:4.16666666%;
}


#filterBox>div>div.h3{
  padding:0% 0% 1% 1%;
}

#footerBox{
  margin:0px;
}

#footerBox>div{
  padding:1% 0% 1% 0%;
  background-color:rgb(48,56,66);
  color:white;
}

#footerBox>div>div{
  padding:0px;
  margin:0px;
}

#reserved{
  padding:2% 0% 0% 0%;
}

@media screen and (max-width: 767px) {
  #searchButtonWrap{
    padding-left: 0px;
  }
  #navBox>div{
    font-size:14px;
  }
  .btn{
    font-size:10px;
  }
  #card{
    padding:0px;
    margin-right:0px;
  }
  #cardHeader{
    padding:0px;
  }
  #cardHeader>.h3{
    margin-top:5%;
    font-size:18px;
  }
  #cardHeader>.h4{
    font-size:14px;
  }
  #contentBox>div:first-child{
    padding:0px 0px 0px 0px;
  }
  .funkyradio-info{
    font-size:10px;
  }
  #checkboxContent>div{
    padding-right: 10px;
  }
  .pagination{
    display:none;
  }
  #footerBox{
    margin-top:5%;
  }
  #filterBox>div>div:nth-child(1){
    margin-left:0px;
  }
  #searchBar{
    margin:0px;
  }
  .h4{
    font-size:13px;
  }
}
