@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');


body {
    font-family: "Spoqa Han Sans", 'Nanum Gothic', 'Sans-serif' !important;
    font-weight: 300;
    overflow-x:hidden;
}

#writeButtonWrap,#viewTable{
  margin-left:15%;
  margin-right:15%;
}

#writeButtonWrap>div{
  padding:0px;
}

#writeButton{
    height: 100%;
    background-color:rgb(48,56,66);
    color:white;
}

.marginTop{
  margin-top:3%;
}

td>p{
  color:black;
  font-size:16px;
  font-weight: 300;
  width:70vw;
}

a,a:visited,a:hover,a:focus{
    text-decoration: none;
    color:black;
}
a:hover{
  color:black;
  text-decoration: none;
}

th{
  text-align:center;
  font-weight:300;
}

th:nth-child(2n+1){
  font-weight: 400;
}

.table{
  margin-top:1%;
  height:100%;
}

#viewMain{
  height: 45vh;
  overflow: auto;
}

#viewPre:hover,#viewNext:hover{
  background-color:rgb(245,245,245);
}

@media screen and (max-width: 767px) {
  .h3{
    font-size:8px;
  }
  th{
    width:20%;
    text-align: justify;
    font-size:15px;
  }
  th:first-child{
    width:40%;
  }
  th:last-child{
    text-align:right;
  }
  #footerBox{
    display:none;
  }
  #headerbar{
    margin-top:10px;
    margin-bottom:10px;
  }
  .pagination{
    display:inline-block;
    margin:10px 0px;
  }
  ul>li{
    font-size:10px;
  }
  td>p{
    font-size:13px;
  }
}
